<% layout("/layouts/boilerPlate")%>
<body>
    <h1>All listings</h1>
    <p>Total number of listings: <%= allListing.length %></p>
    <!-- <ul> -->
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
            <%for(let list of allListing){%>
            <div class="col">
                <a href="/listings/<%=list._id%>">
                    <div class="card h-100">
                    <img src="<%=list.image%>" class="card-img-top" alt="IMAGE" style="height: 20rem; object-fit: cover;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text"><b><%= list.location%>, <%= list.country%></b></p>
                      <p class="card-text"><%= list.description%></p>
                      <p class="card-text">&#8377;<b><%= list.price.toLocaleString("en-IN")%></b>/Day</p>
                    </div>
                </div></a>
            </div>
            <!-- <li class="listing-item"><br><br>
                <br><br>
                <img class="listing-image" src="<%=list.image%>" alt="<%=list.title%>">
            </li> -->
            <!-- <hr> -->
        <%}%>
    </div>
    </ul>
</body>


