<% layout("/layouts/boilerPlate")%>
<body>
    <h1>All listings</h1>
    <p>Total number of listings: <%= allListing.length %></p>
    <ul>
        <%for(let list of allListing){%>
            <li class="listing-item"><br><br>
                <a href="/listings/<%=list._id%>"><%= list.title%></a><br><br>
                <img class="listing-image" src="<%=list.image%>" alt="<%=list.title%>">
            </li>
            <hr>
        <%}%>
    </ul>
</body>


