<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake-AirBnB</title>
</head>
<body>
    <h1>All listings</h1>
    <p>Total number of listings: <%= allListing.length %></p>
    <form action="/add">
        <button>New Listing</button>
    </form>
    <ul>
        <%for(let list of allListing){%>
            <li class="listing-item">
                <a href="/listings/<%=list._id%>"><%= list.title%></a><br>
                <img class="listing-image" src="<%=list.image%>" alt="<%=list.title%>">
            </li>
        <%}%>
    </ul>
</body>
</html>

